{% extends 'AppBundle::layout.html.twig' %}

{% block body_header '' %}

{% block body_container %}

    <div class="desp d20"></div>
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <form action="{{ path('security_login_check') }}" method="post" role="form" class="m-t">
            <div class="row column log-in-form">
                <h4 class="text-center">{{ 'Authentication' | trans }}</h4>
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}
                <label>Email
                    <input type="email" name="_username" placeholder="{{ 'Email' | trans }}" value="{{ last_username }}" class="form-control">
                </label>
                <label>Password
                    <input type="password" name="_password" placeholder="{{ 'Password' | trans }}" class="form-control">
                </label>
                <p><button type="submit" class="button expanded">{{ 'Log In' | trans }}</button></p>
                {#<p class="text-center"><a href="#">Forgot your password?</a></p>#}
            </div>
        </form>
    </div>

{% endblock %}